name: Continuous Integration

on:
    pull_request:

permissions:
    contents: read

jobs:
    quality-checks:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6

          - name: Install uv
            uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.13
            with:
              version: "0.9.17"
              python-version: 3.9

          - name: Install command runner
            uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff  # v3

          - name: Install Python dependencies
            run: |
                just install-deps

          - name: Run style & code checks
            run: |
                just check

    unit-tests:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                python: [3.9, "3.10", "3.11", "3.12", "3.13" ]
                os: [ ubuntu-latest, macos-latest, windows-latest ]
        defaults:
            run:
                shell: bash

        steps:
          - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6

          - name: Install uv
            uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41  # v7.13
            with:
              version: "0.9.17"
              python-version: ${{ matrix.python }}

          - name: Install command runner
            uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff  # v3

          - name: Install Python dependencies
            run: |
                just install-deps

          - name: Run unit-tests
            run: |
                just unit-tests
